
<fieldset class="tui-fieldset">
  <legend><%= I18n.t('labels.random_devices_without_experiments') %></legend>
  <% Device.without_experiments.sample(10).pluck(:id).each do |device| %>
    <p><%= device %></p>
  <% end %>
</fieldset>