<div id="<%= dom_id experiment %>">
  <p>
    <strong>Key:</strong>
    <%= experiment.key %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= experiment.value %>
  </p>

  <p>
    <strong>Chance:</strong>
    <%= experiment.chance %>
  </p>

</div>
